<!DOCTYPE html>
<html>
{% include head.html %}

<!-- 模版来源于https://github.com/jglovier/resume-template -->

<body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">
  {% include sidebar.html %}
  <div class="wrap">
    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="telephone" content="{{ site.resume_contact_telephone }}" />
      <meta itemprop="address" content="{{ site.resume_contact_address }}" />

      <header class="page-header">

        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar no-print" itemprop="image"> {% endif %}

        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        {% if site.display_header_contact_info == 'true' %}
        <div class="header-contact-info">
          <p>{{ site.resume_header_contact_info }}</p>
        </div>
        {% endif %}

        <div class="title-bar no-print">

          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>
        </div>

        <div class="executive-summary" itemprop="description">
          {{ site.resume_header_intro }}
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button no-print" itemprop="email">请联系我</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking no-print">我正在准备找工作.</a>
        {% else %} {% endif %}

      </header>

      {% if site.resume_section_experience %}
      <section class="content-section">

        <header class="section-header">
          <h2>工作经历</h2>
        </header>

        {% for job in site.data.experience %}
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">{{ job.company }}</h3>
          <h4 class="resume-item-details" itemprop="description">{{ job.position }} &bull; {{ job.duration }}</h4>
          <p class="resume-item-copy">{{ job.summary }}</p>
        </div>
        {% endfor %}

      </section>
      {% endif %} {% if site.resume_section_education %}
      <section class="content-section">
        <header class="section-header">
          <h2>教育水平</h2>
        </header>

        {% for education in site.data.education %}
        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">{{ education.uni }}</h3>
          <h4 class="resume-item-details group" itemprop="description">{{ education.degree }} &bull; {{ education.year }}</h4>
          <h5 class="resume-item-details award-title" itemprop="description">{{ education.award }}</h5>
          <p class="resume-item-copy" itemprop="description">
            <ul class="resume-item-list">
              {% for award in education.awards %}
              <li>{{ award.award }}</li>
              {% endfor %}
            </ul>
            </h5>


            <p class="resume-item-copy">{{ education.summary }}</p>
        </div>
        {% endfor %}
      </section>
      {% endif %} {% if site.resume_section_projects %}
      <section class="content-section">
        <header class="section-header">
          <h2>相关项目</h2>
        </header>

        {% for project in site.data.projects %}
        <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
          <meta itemprop="creator" content="{{ site.resume_name }}" itemtype="http://schema.org/Person" />
          <h3 class="resume-item-title" itemprop="name">{% if project.url %}
            <a href="{{ project.url }}" itemprop="url">{{ project.project }}</a>{% else %}{{ project.project }}{% endif %}</h3>
          <h4 class="resume-item-details" itemprop="description">{{ project.role }} &bull; {{ project.duration }}</h4>
          <p class="resume-item-copy">{{ project.description }}</p>
        </div>
        {% endfor %}

      </section>
      {% endif %} {% if site.resume_section_skills %}
      <section class="content-section">

        <header class="section-header">
          <h2>工作技能</h2>
        </header>
        {% for skill in site.data.skills %}
        <div class="resume-item">
          <h4 class="resume-item-details">{{ skill.skill }}</h4>
          <p class="resume-item-copy">{{ skill.description }}</p>
        </div>
        {% endfor %}

      </section>
      {% endif %} {% if site.resume_section_recognition %}
      <section class="content-section">

        <header class="section-header">
          <h2>荣誉信息</h2>
        </header>

        {% for recognition in site.data.recognitions %}
        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">{{ recognition.award }}</h3>
          <h4 class="resume-item-details">{{ recognition.organization }} &bull; {{ recognition.year }}</h4>
          <p class="resume-item-copy">{{ recognition.summary }}</p>
        </div>
        {% endfor %}

      </section>
      {% endif %} {% if site.resume_section_associations %}
      <section class="content-section">

        <header class="section-header">
          <h2>社会组织</h2>
        </header>

        {% for association in site.data.associations %}
        <div class="resume-item" itemscope itemprop="memberOf" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">{% if association.url %}
            <a href="{{ association.url }}">{{ association.organization }}</a>{% else %}{{ association.organization }}{% endif %}</h3>
          <h4 class="resume-item-details" itemprop="description">{{ association.role }} &bull; {{ association.year }}</h4>
          <p class="resume-item-copy">{{ association.summary }}</p>
        </div>
        {% endfor %}

      </section>
      {% endif %} {% if site.resume_section_interests %}
      <section class="content-section">

        <header class="section-header">
          <h2>业余爱好</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            {% for interest in site.data.interests %}
            <li>{{ interest.description }}</li>
            {% endfor %}
          </ul>
        </div>

      </section>
      {% endif %} {% if site.resume_section_links %}
      <section class="content-section">

        <header class="section-header">
          <h2>相关链接</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            {% for link in site.data.links %}
            <li>
              <a href={{ link.url }} itemprop="url">{{ link.description }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>

      </section>
      {% endif %} {% if site.resume_print_social_links %}
      <section class="content-section print-only">

        <header class="section-header">
          <h2>社交媒体</h2>
        </header>

        <div class="resume-item"></div>

      </section>
      {% endif %}
    </div>
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle"></label>
  
  <script>
    (function (document) {
      var toggle = document.querySelector('.sidebar-toggle');
      var sidebar = document.querySelector('#sidebar');
      var checkbox = document.querySelector('#sidebar-checkbox');

      document.addEventListener('click', function (e) {
        var target = e.target;

        if (!checkbox.checked ||
          sidebar.contains(target) ||
          (target === checkbox || target === toggle)) return;

        checkbox.checked = false;
      }, false);
    })(document);
  </script>
  {% include analytics.html %}
</body>

</html>
